@charset "UTF-8";
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

#header .gnb {
  z-index: 3;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  height: auto;
  margin-top: 80px;
}
#header .gnb h2 {
  flex-basis: 10%;
  font-size: 27px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Playfair Display", serif !important;
  cursor: pointer;
}
#header .gnb h2:hover {
  color: #111;
  font-weight: 500;
}
#header .gnb .language {
  height: 30px;
  flex-basis: 20%;
  font-size: 15px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#header .gnb .language .lanSel {
  color: #fff;
}
#header .gnb .language span {
  margin-right: 15px;
}
#header .gnb .headerList {
  color: #fff;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}
#header .gnb .headerList > li {
  font-size: 15px;
  margin-right: 35px;
}
#header .gnb .headerList > li:last-child {
  margin: 0;
}
#header .gnb .headerList > li:hover .depth01 {
  color: #a68164;
}
#header .gnb .headerList > li:hover .depth01:after {
  display: block;
}
#header .gnb .headerList > li:hover .depth02 {
  display: block;
}
#header .gnb .headerList > li .depth01 {
  position: relative;
  transition: all 0.2s ease;
}
#header .gnb .headerList > li .depth01:after {
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #a68164;
  bottom: -5px;
  position: absolute;
  display: none;
}
#header .gnb .headerList > li .depth01.color {
  color: #a68164;
}
#header .gnb .headerList > li .depth01.color:after {
  display: block;
}
#header .gnb .headerList > li .depth02 {
  cursor: pointer;
  margin-top: 20px;
  display: none;
}
#header .gnb .headerList > li .depth02 li {
  margin-top: 15px;
}
#header .gnb .headerList > li .depth02 li:hover {
  color: #a68164;
}
#header .gnb.black h2,
#header .gnb.black .language {
  color: #aaa;
}
#header .gnb.black .language .lanSel {
  color: #555;
}
#header .gnb.black .headerList {
  opacity: 0;
}
#header .width770span {
  position: absolute;
  right: 8%;
  z-index: 10;
  top: 8%;
  transition: all 0.35s ease-in-out;
  display: none;
}
#header .width770span p {
  width: 50px;
  height: 1.5px;
  background-color: #fff;
}
#header .width770span p:nth-child(2) {
  margin-top: 15px;
}
#header .book {
  display: flex;
  position: absolute;
  left: 0%;
  top: 0;
  display: none;
  z-index: 101;
  transition: all 0.35s ease-in-out;
}
#header .book .bookLeft {
  width: 550px;
  height: 100vh;
  background-color: #f0f0f0;
}
#header .book .bookLeft h1 {
  font-size: 25px;
  padding: 60px;
  line-height: 1.2;
  font-family: "Playfair Display", serif !important;
}
#header .book .bookLeft .bookList {
  display: flex;
  flex-direction: column;
  margin-left: 21%;
  margin-top: 14%;
}
#header .book .bookLeft .bookList .checkinout {
  display: flex;
  margin-bottom: 55px;
  position: relative;
}
#header .book .bookLeft .bookList .checkinout .date,
#header .book .bookLeft .bookList .checkinout .date02 {
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
#header .book .bookLeft .bookList .checkinout:before {
  content: "날짜";
  position: absolute;
  font-size: 12px;
  top: -19px;
  color: #a68164;
}
#header .book .bookLeft .bookList > li {
  margin-bottom: 55px;
  position: relative;
  width: 340px;
}
#header .book .bookLeft .bookList > li.arrow:after {
  transform: rotate(180deg);
  transform-origin: 57% 212%;
}
#header .book .bookLeft .bookList > li:after {
  content: url("../images/layout/outline_expand_more_black_24dp.png");
  position: absolute;
  width: 20px;
  height: 5px;
  right: 20px;
  top: 10%;
}
#header .book .bookLeft .bookList > li:nth-child(1):before {
  content: "호텔선택";
  position: absolute;
  font-size: 12px;
  top: -19px;
  color: #a68164;
}
#header .book .bookLeft .bookList > li:nth-child(2):before {
  content: "날짜";
  position: absolute;
  font-size: 12px;
  top: -19px;
  color: #a68164;
}
#header .book .bookLeft .bookList > li:nth-child(3):before {
  content: "객실수";
  position: absolute;
  font-size: 12px;
  top: -19px;
  color: #a68164;
}
#header .book .bookLeft .bookList > li:nth-child(4):before {
  content: "성인";
  position: absolute;
  font-size: 12px;
  top: -19px;
  color: #a68164;
}
#header .book .bookLeft .bookList > li:nth-child(5):before {
  content: "아동";
  position: absolute;
  font-size: 12px;
  top: -19px;
  color: #a68164;
}
#header .book .bookLeft .bookList select {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  appearance: none;
  width: 340px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-family: inherit;
  height: 30px;
  font-size: 15px;
  background: none;
}
#header .book .bookLeft .bookList select:focus {
  outline: none;
}
#header .book .bookLeft button {
  width: 350px;
  height: 40px;
  border: none;
  background-color: #a68164;
  margin-left: 110px;
  font-size: 15px;
  cursor: pointer;
}
#header .book .bookRight {
  width: 100px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
}
#header .book .bookRight .bRspan {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
#header .book .bookRight .bRspan span {
  width: 26px;
  height: 1px;
  background-color: #111;
  position: absolute;
}
#header .book .bookRight .bRspan span:nth-child(1) {
  transform: rotate(45deg);
}
#header .book .bookRight .bRspan span:nth-child(2) {
  transform: rotate(-45deg);
}
#header .book .bookRight .bRspan:hover span {
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}
#header .book .bookRight h3 {
  writing-mode: vertical-rl;
  font-size: 19px;
  letter-spacing: 5px;
  transform: scale(-1);
  margin-right: 15px;
  font-weight: 300;
}
#header .book .bookRight span {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-size: 10px;
  color: #a68164;
}
#header .width770 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  z-index: 3;
  display: none;
}
#header .width770 .in .in_con {
  display: flex;
  border: 1px solid #000;
  height: 100px;
  width: 90vw;
  margin: 5% 5% 0;
  box-sizing: border-box;
  background-image: url("../images/layout/intro_logo.png");
  background-size: 20% 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#header .width770 .in .in_con h1 {
  color: #111;
  font-size: 23px;
  font-family: "Playfair Display", serif !important;
  margin-left: 5%;
  margin-top: 5%;
}
#header .width770 .in .in_con button {
  position: absolute;
  right: 33px;
  width: 12%;
  height: 100px;
  background-color: #000;
}
#header .width770 .in .in_con button p {
  width: 50px;
  margin-left: 14%;
  height: 8px;
  border-bottom: 3px solid #fff;
}
#header .width770 .in .in02 {
  border: 1px solid #000;
  margin: 0 5%;
  height: 66vh;
  display: flex;
  flex-direction: column;
  padding-top: 78px;
}
#header .width770 .in .in02 .in_lan {
  position: absolute;
  right: 20%;
  display: flex;
  font-size: 27px;
  font-weight: 300;
}
#header .width770 .in .in02 .in_lan p {
  margin-right: 45%;
}
#header .width770 .in .in02 .in_list ul {
  line-height: 50px;
  margin-top: 20%;
  margin-left: 7%;
}
#header .width770 .in .in02 .in_list ul .in_li01 a {
  font-size: 40px;
}
#header .width770 .in .in02 .in_list ul .in_li01 ul {
  width: 30%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
#header .width770 .in .in02 .in_list ul .in_li01 ul li a {
  font-size: 22px;
  line-height: 33px;
}
#header .width770 .in .in02 .in_bot ul {
  line-height: 45px;
  margin-top: 5%;
  margin-left: 7%;
  font-size: 26px;
  font-weight: 300;
}
#header .width770 .in .in02 .in_icon {
  position: absolute;
  right: 25%;
  display: flex;
  bottom: 15%;
}
#header .width770 .in .in02 .in_icon .fa {
  transform: rotate(90deg);
  margin-right: 140%;
}
#header .width770 .in .in02 .in_icon .fa img {
  filter: invert(100);
  width: 20px;
  height: 20px;
}
#header .width770 .in .in02 .in_icon .in {
  transform: rotate(90deg);
}
#header .width770 .in .in02 .in_icon .in img {
  filter: invert(100);
  width: 20px;
  height: 20px;
}

@media all and (max-width: 770px) {
  #header .width770span {
    display: block;
  }
  #header .gnb {
    justify-content: space-between;
  }
  #header .gnb h2 {
    margin-left: 10%;
  }
  #header .gnb .language {
    display: none;
  }
  #header .gnb .headerList {
    display: none;
  }
}